<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Liste des Catways</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header class="header-hero">
    <div class="header-overlay">
      <h1>Port de Russell</h1>
      <p>Bienvenue sur la page du port de Russell</p>
    </div>
  </header>

  <h1>Catways</h1>
  <table>
    <thead>
      <tr>
        <th>Numéro</th>
        <th>Type</th>
        <th>État</th>
      </tr>
    </thead>
    <tbody>
      <% catways.forEach(catway => { %>
        <tr>
          <td><%= catway.catwayNumber %></td>
          <td><%= catway.catwayType %></td>
          <td><%= catway.catwayState %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</body>
</html>
