<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Port de Russell</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header class="header-hero">
    <div class="header-overlay">
      <h1>Port de Russell</h1>
      <p>Bienvenue sur la page du port de Russell</p>
      <div class="header-buttons">
        <a class="btn" href="/login">Se connecter</a>
        <a class="btn" href="/signup">Créer un compte</a>
      </div>
    </div>
  </header>

  <main class="main-content">
    <section>
        <h2>Présentation</h2>
        <p>Cette application permet de gérer les infrastructures du port de Russell.
Elle offre des fonctionnalités de gestion des catways, des réservations et des utilisateurs via une interface sécurisée.
<br>
Une API REST est également mise à disposition afin de permettre l’accès aux données du port.</p>
    </section>
    <section>
      <h3>Documentation API</h3>
      <ul>
        <li><a href="/api/catways">Catways</a></li>
        <li><a href="/api/reservations">Reservations</a></li>
      </ul>
    </section>
  </main>
</body>
</html>
