<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/style.css">
  <title>Connexion</title>
</head>

<body>
<header class="header-hero">
    <div class="header-overlay">
      <h1>Port de Russell</h1>
      <p>Bienvenue sur la page du port de Russell</p>
    </div>
  </header>

  <h1>Port de Russell – Connexion / Inscription</h1>
  <section>
    <h2>Se connecter</h2>
    <% if (loginError) { %>
      <p style="color :red;"><%= loginError %></p>
    <% } %>
    <form action="/login" method="POST">
      <label>Email:</label>
      <input type="email" name="email" required>
      <br>
      <label>Mot de passe:</label>
      <input type="password" name="password" required>
      <br>
      <button type="submit">Se connecter</button>
    </form>
  </section>
 
</body>
</html>
