<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Créer un catway</title>

  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

 <header class="header-hero">
    <div class="header-overlay">
      <h1>Port de Russell</h1>
      <p>Bienvenue sur la page du port de Russell</p>
    </div>
  </header>

  <main>

    <section>
       <h1>Créer un nouveau catway</h1>
  <form action="/catways/new" method="POST">
    <table>
      <tbody>
        <tr>
    </section>
   
    <section>
      <th>Numéro du catway</th>
          <td>
            <input type="number" name="catwayNumber" required>
          </td>
        </tr>
    </section>
          
<section>
  <tr>
          <th>Type de catway</th>
          <td>
            <select name="catwayType" required>
              <option value="">-- Sélectionner --</option>
              <option value="short">Short</option>
              <option value="long">Long</option>
            </select>
          </td>
        </tr>
</section>
        
<section>
  <tr>
          <th>État du catway</th>
          <td>
            <input type="text" name="catwayState" required>
          </td>
        </tr>
      </tbody>
    </table>
        
    <button type="submit">Créer le catway</button>
    <a href="/dashboard">
      <button type="button">Annuler</button>
    </a>
  </form>

  </main>

  </section>
  
</body>
</html>
