<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Créer une réservation</title>

  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
 <header class="header-hero">
    <div class="header-overlay">
      <h1>Port de Russell</h1>
      <p>Bienvenue sur la page du port de Russell</p>
    </div>
  </header>

  <main>
    <section></section>
  </main>
  <section>
     <h1>Créer une nouvelle réservation</h1>

  <form action="/reservations/new" method="POST">
    <table>
      <tbody>
        <tr>
          <th>Numéro du catway</th>
          <td>
            <input type="number" name="catwayNumber" required>
          </td>
        </tr>
  </section>
 
  <section>
    <tr>
          <th>Nom du client</th>
          <td>
            <input type="text" name="clientName" required>
          </td>
        </tr>
  </section>
        
  <section>
    <tr>
          <th>Email du client</th>
          <td>
            <input type="email" name="clientEmail" required>
          </td>
        </tr>
  </section>
        
  <section>
    <tr>
          <th>Nom du bateau</th>
          <td>
            <input type="text" name="boatName" required>
          </td>
        </tr>
  </section>
        
  <section>
    <tr>
          <th>Date de début</th>
          <td>
            <input type="date" name="startDate" required>
          </td>
        </tr>
  </section>
        
  <section>
    <tr>
          <th>Date de fin</th>
          <td>
            <input type="date" name="endDate" required>
          </td>
        </tr>
      </tbody>
    </table>

    <button type="submit">Créer la réservation</button>
    <a href="/dashboard">
      <button type="button">Annuler</button>
    </a>
  </form>
  
  </section>     

</body>
</html>
